@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pacifico",sans-serif;
    color: cyan;
    min-height: 100vh;
    margin: 0;
}

.quizcontainer{
    background-color: palevioletred;
    /* padding: 25px; */
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100,100,100,0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quizheader{
    padding : 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}


button{
    border: none;
    background-color: #3f0d3d;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: block;
    padding: 1.5rem;
    width: 100%;
}

button:hover{
    background-color: #c91dc3;
    outline: none;
}
